@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'DM Mono', monospace;


}

.calculator {
    max-width: 480px;
    border: solid 4px black;
    margin: 8px;
}

.numpad {
    background-color: black;
    width: 100%;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 4px;
}


button {
    border-width: 0;
    min-width: 20%;
    flex: 1;
    font-size: 3em;
    font-family: inherit;
}


.number,
.decimal {
    background-color: #FFF3F0;
}

.operator {
    background-color: #9046CF;
}

.equals {
    background-color: #F487B6;
}

.cl,
.bs {
    background-color: #CC59D2;
}


button:hover {
    background-color: #d35e77;
}

#display-container {
    display: flexbox;
    flex-direction: column;

}

#display {
    font-size: 3em;
    text-align: right;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    min-height: 87px;
    overflow: scroll;
}

// 480 + 10px + 10px = 500 width, then 100vw-20px;

/* @media only screen and (max-width: 500px) {
    .calculator {
        margin: 10px;
        width: 100vh;

    }
} */